# Byte-compiled / optimized / DLL files
__pycache__/
/__pycache__
routes/__pycache__
*.pyc


# Virtual environment
venv/

# Environment variables / Secrets
.env

*.log
logs/


scraping_results/

models/


*DDI_score

llms_txt_output/

review_replies/