# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc


# Virtual environment
venv/

# Environment variables / Secrets
.env

*.log
logs/


scraped_result.json

models/



temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
